textarea {
    min-height: 400px;
}

.body {
    background-color: #f8f8ff;
}

.email-list-item-read {
    background-color: #FFFFFF;
    border-color: #591100;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 2px;
    padding: 12px;

    .timestamp {
        float: right;
        text-align: right;
    }
}

.email-list-item-read:hover {
    background-color: #FFFEEE;
}

.email-list-item-unread {
    @extend .email-list-item-read;
    background-color: #FFFFFF;
}